<% if (theme.valine && post.comments) { %>
<div id="vcomments"></div>
<script>
  window.onload = function(){
      var valine = new Valine();
      valine.init({
        el: '#vcomments',
        appId: "<%= theme.v_appId %>",
        appKey: "<%= theme.v_appKey %>",
        path: window.location.pathname,
        placeholder: "你是我一生只会遇见一次的惊喜 ..."
      })
  }
</script>
<% } %>

<% if (theme.waline.enable && post.comments) { %>
  <script src='//unpkg.com/@waline/client@v2/dist/waline.js'></script>
    <link rel="stylesheet" href="//unpkg.com/@waline/client@v2/dist/waline.css"/>
    <div id="waline"></div>
      <script type="module" >
        import { init } from 'https://unpkg.com/@waline/client@v2/dist/waline.mjs';
        init({
              el: '#waline',
              serverURL: '<%- theme.waline.serverURL %>',
              pageSize: '<%- theme.waline.pageSize %>',
              lang: '<% if (config.language == "zh-cn") {  %>zh-CN<% } else { %>en<% } %>',
              requiredMeta: ['nick','mail'], 
              locale:{placeholder: "<%= theme.waline.placeholder %>"},
              pageview: true,
              comment: true,
              emoji: [
                  'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.1.0/tieba',
                  'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.1.0/bilibili',
                  'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.1.0/weibo',
                  'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.1.0/alus',
                  'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.1.0/bmoji',
                  'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.1.0/qq',
                  'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.1.0/tw-emoji'
              ],
              dark: 'auto'
            });
    </script>
<% } %>
